In [2]:
import pandas as pd
df = pd.read_csv("./data/userLog_201801_201802_for_participants.csv",sep=';')

In [3]:
df.head()

,userCode,project_id,requestedDevice,userAgent,pageReferrer,year,month,day,hour
0,7717bdc2-ea3e-e8ad-5d6b-178bd71c38b2,7956,Mobile,Android,HomeWebsite,2018,1,1,0
1,7717bdc2-ea3e-e8ad-5d6b-178bd71c38b2,7956,Mobile,Android,HomeWebsite,2018,1,1,0
2,cb5b4b68-cc01-6db6-f54b-4a0f881301c5,5067,Mobile,iPhone,HomeWebsite,2018,1,1,0
3,5f74cef2-0d1e-b619-3564-0955a14e0985,6654,Mobile,iPhone,Google,2018,1,1,0
4,dba8f279-844e-eef6-73ac-22bd7d1353cc,6474,Mobile,iPad,Google,2018,1,1,0

In [4]:
df['datetime'] = pd.to_datetime(df['year'].astype(str)+"-"+df['month'].astype(str)+"-"+df['day'].astype(str)+" "+df['hour'].astype(str)+":00:00")
df.head()

,userCode,project_id,requestedDevice,userAgent,pageReferrer,year,month,day,hour,datetime
0,7717bdc2-ea3e-e8ad-5d6b-178bd71c38b2,7956,Mobile,Android,HomeWebsite,2018,1,1,0,2018-01-01
1,7717bdc2-ea3e-e8ad-5d6b-178bd71c38b2,7956,Mobile,Android,HomeWebsite,2018,1,1,0,2018-01-01
2,cb5b4b68-cc01-6db6-f54b-4a0f881301c5,5067,Mobile,iPhone,HomeWebsite,2018,1,1,0,2018-01-01
3,5f74cef2-0d1e-b619-3564-0955a14e0985,6654,Mobile,iPhone,Google,2018,1,1,0,2018-01-01
4,dba8f279-844e-eef6-73ac-22bd7d1353cc,6474,Mobile,iPad,Google,2018,1,1,0,2018-01-01

In [5]:
%matplotlib inline
#user_clicked_by_hour = df.groupby(['userCode','datetime']).size().reset_index().sort_values(0,ascending=False)#[0].value_counts().median()

In [6]:
#user_clicked_by_hour#[0].value_counts().median()
#df['clicked_by_hour'] =
import numpy as np
df['user_clicked_by_hour'] = df.groupby(['userCode','datetime'])['project_id'].transform(np.size)

In [7]:
import numpy as np
df['user_clicked_projects_by_hour'] = df.groupby(['userCode','datetime','project_id'])['project_id'].transform(np.size)

In [8]:
df.head()

,userCode,project_id,requestedDevice,userAgent,pageReferrer,year,month,day,hour,datetime,user_clicked_by_hour,user_clicked_projects_by_hour
0,7717bdc2-ea3e-e8ad-5d6b-178bd71c38b2,7956,Mobile,Android,HomeWebsite,2018,1,1,0,2018-01-01,3,3
1,7717bdc2-ea3e-e8ad-5d6b-178bd71c38b2,7956,Mobile,Android,HomeWebsite,2018,1,1,0,2018-01-01,3,3
2,cb5b4b68-cc01-6db6-f54b-4a0f881301c5,5067,Mobile,iPhone,HomeWebsite,2018,1,1,0,2018-01-01,1,1
3,5f74cef2-0d1e-b619-3564-0955a14e0985,6654,Mobile,iPhone,Google,2018,1,1,0,2018-01-01,1,1
4,dba8f279-844e-eef6-73ac-22bd7d1353cc,6474,Mobile,iPad,Google,2018,1,1,0,2018-01-01,2,2

In [9]:
df.to_csv("./clean_data/userlog_feature.csv",index=False)

In [37]:
max_clicked_by_hour = 25
df_filtered = df.query("user_clicked_by_hour < %s"%max_clicked_by_hour)
df_filtered.shape

(1194926, 11)

In [45]:
df_filtered.userCode.value_counts()

de89bac5-57c6-ecfb-184d-cc4e973c31ac    13082
31bb9bf0-8ad5-3e50-f334-e6c7de89bac5     5016
3f0b3f64-468d-8411-efee-debb3facd532     1641
b883abba-dc3e-f30d-a571-98fffeffe88f     1239
987779b7-042c-ddea-e43c-5132045fe84e      826
894a4600-3006-06c5-bff9-cd37a3618bc1      806
72bd11b1-1880-2468-a691-78a33f0b3f64      790
2d023fed-0cad-0f48-c7c8-77ce40e36d0f      750
8258ff86-189d-a4b9-c9f4-105d495167f2      469
02e5a154-8e62-a827-db93-bf15c35da2a5      466
1aecd8e5-f02b-ba5c-e865-49da43ad8f22      385
504dc86d-0a80-b14c-8c1c-d25a32e4f699      379
eec0a125-d5ab-f692-c501-4713c35c756d      314
5beda6e8-dd84-35a6-7613-84aac7f9cda9      293
4305b0fe-7587-0c60-f21e-207223a4b830      292
cf0f690c-b767-c8af-8084-d6ebb0347e25      272
4f9f5326-5aab-a70e-40d1-94a85cce542f      262
64a4e0dc-47ff-b031-7a0f-e4f4f687fe92      251
5a5c8ed0-dee9-beff-0a91-4c65d31e3744      242
a5021c5b-f424-e5f9-4675-cff0d0e302fb      242
d49b17b1-c818-f900-2098-52a9ba1ac4cc      230
29ae92f6-4dd0-6490-343f-682386f41332      228
de72fec5-e0c8-2a3c-78ae-eb033b3180b7      223
a90b808c-f966-e06c-0a11-448959f190b1      219
82a7d6dd-da79-a6e4-67b8-fc9c719f0ac5      218
2b666ad7-5771-1f46-c60e-b1aca391729c      201
fd27d81d-bc5d-d2b6-4cb9-a7ddbd9f9658      200
334963e3-56e0-8fed-2a80-460e6bec516e      197
d8ebf128-caa2-b3d7-0bea-8fbb9fb9eb87      197
c718f9d4-311d-910a-1015-4bbb1f293e74      196
                                        ...
8163f1bd-13a5-b3bc-5588-926c80dc4fc8        1
9e74fe6a-bc9c-2ef1-c8d2-a3b371f3650a        1
38248a05-7c03-fcbe-44e4-9eacf3c975b2        1
9733eafe-d3b5-a5a0-65d1-b760e5614d2a        1
017a9ead-5a5d-08fc-5937-e5f9982abd2d        1
1acddaa7-9902-31c5-38de-6cf1d10af65d        1
3c2751fd-c02e-49eb-7d43-201338f84b16        1
01600f38-7157-ba12-5b50-687000c634ea        1
0eb477c7-281e-e44d-04f5-4911c581b4e2        1
dfcbe07a-f146-4dfb-6ec3-34ca85ee0837        1
04a61b9f-3748-1d2d-039b-7b248229f653        1
7cb5432c-afed-5372-cba4-c71505758ce0        1
02090603-5c95-e031-d62a-486a55280f88        1
bde3a767-88c2-8817-1c0d-85582aa000cf        1
b429e07c-661f-198c-e4c0-d7747669dff1        1
41a9f84e-feb9-4cfc-9363-fc0b17cdc699        1
9055b0e4-b7a4-637a-b915-6dfcb8f1082a        1
d2ce07f8-18c9-c1e2-2df5-a0db22b81522        1
ae7fb20d-7cf0-b6e5-8f3a-16857fa414e4        1
c25e5351-5891-5b71-8020-3ace4ceeefa3        1
2e019b6e-a466-e0f2-a2d2-b36d88d9222c        1
fd881053-6dfc-73ad-f53c-52ea8f937992        1
29062e99-91fd-147f-d53f-ecd909dd4985        1
c93c1b01-e8be-3162-ffab-2dbccf9f8c8e        1
3253c377-c44d-16bd-992a-832558eddf42        1
bbc38ac8-9554-e6ea-4096-a4cdcd3f7aa8        1
eb4d46f6-fa85-809a-575e-8970b4b30eef        1
d887a116-9d33-868f-4b35-eb09bab63612        1
7ccd93a1-5d0f-07cf-ef60-0bfe990b10ad        1
23591510-905f-b6e0-f5b3-0b40e7281763        1
Name: userCode, Length: 482678, dtype: int64

In [46]:
df_filtered.to_csv("./clean_data/nobot.csv",index=False)