In [54]:
import pandas as pd
from datetime import datetime


answer = pd.read_csv("./data/200_users.csv")
user = pd.read_csv("./data/userLog_201801_201802_for_participants.csv",sep=';')

user['datetime'] = user['year'].astype(str)+"-" + user['month'].astype(str) +"-" +user['day'].astype(str)+" "+user['hour'].astype(str)+":00:00"
user['datetime'] = pd.to_datetime(user['datetime'])

del user['year']
del user['month']
del user['day']
del user['hour']

user.head()

,userCode,project_id,requestedDevice,userAgent,pageReferrer,datetime
0,7717bdc2-ea3e-e8ad-5d6b-178bd71c38b2,7956,Mobile,Android,HomeWebsite,2018-01-01
1,7717bdc2-ea3e-e8ad-5d6b-178bd71c38b2,7956,Mobile,Android,HomeWebsite,2018-01-01
2,cb5b4b68-cc01-6db6-f54b-4a0f881301c5,5067,Mobile,iPhone,HomeWebsite,2018-01-01
3,5f74cef2-0d1e-b619-3564-0955a14e0985,6654,Mobile,iPhone,Google,2018-01-01
4,dba8f279-844e-eef6-73ac-22bd7d1353cc,6474,Mobile,iPad,Google,2018-01-01

In [2]:
# Cut to train and test

In [55]:
inTrain = user['datetime']<datetime(2018,2,18)
train = user[inTrain]
test = user[~inTrain]

In [96]:
train.to_csv("./clean_data/userLog_beforeTest.csv",index=False)

In [43]:
test_df = test.groupby("userCode").agg({"project_id":lambda x: set(x)})
print(test_df.shape)
test_df.head()

(50185, 1)

                                                    project_id
userCode
00022f32-f2c8-4ac0-4f5c-79007d18468c                    {5817}
00023eed-55ce-8642-3e27-9bcaf777bddb                    {3604}
0009ecb5-23d3-d9d5-16fd-6d9b39465d87                    {1905}
000a0872-72e2-b1b9-bfe3-3b9e173c516b  {9353, 8858, 8718, 6457}
000b00a0-8fc3-1677-c405-a8389b484979              {5858, 5323}

In [56]:
train_df = train.groupby("userCode").agg({"project_id":lambda x: set(x)})
train_df.head()

                                        project_id
userCode
00005aba-5ebc-0821-f5a9-bacca40be125        {5342}
0000bae7-6233-d7cc-2a6d-48aa70fe8ad4        {5678}
0000c576-e929-19eb-615a-349ec3b4709b        {6461}
0000d196-6385-80b8-661d-b7427042daa3        {9040}
0000e1e2-f595-0ae7-860f-fcc07dcb116e  {6712, 6709}

In [59]:
test_df_merged = test_df.merge(train_df,left_index=True,right_index=True,suffixes=("test","train"))
test_df_merged.head()

                                     project_idtest     project_idtrain
userCode
0015e266-4175-bd2b-f3c2-945e61ad0cb6         {6494}              {9394}
00173c21-1f39-3a33-8ceb-2cb27f83c7b7         {8000}              {4791}
0018fd5f-213f-c9ab-ebf4-0dcfb63be43b         {4201}  {8717, 8748, 5404}
001efb31-8833-bb1a-b2b3-8e3af720e7f7    {234, 2093}         {234, 4279}
00341e5d-00aa-9053-2ec6-859a7171abb6         {4579}              {5010}

In [63]:
test_df_selected = test_df_merged['project_idtest']- test_df_merged['project_idtrain']
test_df_selected = test_df_selected.reset_index()[test_df_selected.reset_index()[0].apply(lambda x: len(x)>0)]

In [89]:

test_df_sampled = test_df_selected.sample(700)
test_df_sampled = test_df_sampled.rename(columns = {0:"ans_project_id"})
test_df_sampled['ans_project_id'] = test_df_sampled['ans_project_id'].apply(lambda x: list(x))

In [94]:
# Do many folds: 
for i in range(5):
    test_df_sampled = test_df_selected.sample(7000)
    test_df_sampled = test_df_sampled.rename(columns = {0:"ans_project_id"})
    test_df_sampled['ans_project_id'] = test_df_sampled['ans_project_id'].apply(lambda x: list(x))

    test_df_sampled.to_csv("./clean_data/test_data/test_before_021718_7000row_fold%d.csv"%i,index=False)