In [46]:
import pandas as pd
userlog = pd.read_csv("./data/userLog_201801_201802_for_participants.csv",sep=';')
proj = pd.read_csv("./clean_data/proj.csv")
proj.drop(columns=['project_name_th','project_name_en'])

,project_id,developer_id,brand_id,district_id,province_id,lat,lon,percent_car_parking,starting_price,highest_price,...,end_clicked,mobile_count,desktop_count,window_count,android_count,iPhone_count,iPad_count,other_count,macintosh_count,beenClicked
0,44,140786,0.0,1046.0,10,13.891719,100.722099,NaN,3500000.0,3862000.0,...,2018-02-22 23:00:00,254.0,190.0,144.0,153.0,104.0,7.0,22.0,14.0,1.0
1,24,1032,0.0,1046.0,10,13.876590,100.731927,NaN,4590000.0,NaN,...,2018-02-20 14:00:00,22.0,15.0,14.0,12.0,10.0,1.0,0.0,0.0,1.0
2,161,11066,0.0,1101.0,11,13.543841,100.656302,NaN,912400.0,1300480.0,...,2018-02-15 10:00:00,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0
3,73,779,0.0,1301.0,13,13.975707,100.580670,NaN,3800000.0,NaN,...,2018-02-22 17:00:00,129.0,104.0,91.0,67.0,55.0,8.0,11.0,1.0,1.0
4,219,818,5.0,1103.0,11,13.716203,100.725815,NaN,5000000.0,NaN,...,2018-02-15 10:00:00,163.0,133.0,100.0,73.0,87.0,6.0,11.0,19.0,1.0
5,192,13323,814.0,1303.0,13,14.004604,100.699257,NaN,3900000.0,NaN,...,2018-02-22 16:00:00,195.0,131.0,115.0,117.0,72.0,9.0,8.0,5.0,1.0
6,4,1032,864.0,1303.0,13,14.030899,100.762659,NaN,3900000.0,NaN,...,2018-02-22 16:00:00,126.0,105.0,89.0,76.0,44.0,11.0,5.0,6.0,1.0
7,208,13323,NaN,1011.0,10,13.769810,100.722040,NaN,3500000.0,7600000.0,...,2018-02-20 14:00:00,18.0,10.0,10.0,14.0,4.0,0.0,0.0,0.0,1.0
8,228,6772,0.0,1046.0,10,13.862623,100.695135,NaN,1810000.0,NaN,...,2018-02-22 23:00:00,421.0,353.0,222.0,259.0,168.0,8.0,111.0,6.0,1.0
9,473,6248,1346.0,1303.0,13,13.988543,100.685401,NaN,1850000.0,NaN,...,2018-02-22 20:00:00,254.0,121.0,101.0,169.0,83.0,6.0,8.0,8.0,1.0
10,971,2668,NaN,1204.0,12,13.907513,100.397327,NaN,2750000.0,2290000.0,...,2018-02-14 11:00:00,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0
11,982,12136,979.0,1011.0,10,13.763348,100.803434,NaN,4300000.0,NaN,...,2018-02-22 23:00:00,166.0,80.0,74.0,85.0,68.0,14.0,2.0,3.0,1.0
12,957,9656,NaN,1203.0,12,13.888013,100.373170,NaN,3180000.0,NaN,...,2018-02-14 11:00:00,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0
13,372,1032,NaN,1010.0,10,13.843635,100.727159,NaN,12000000.0,NaN,...,2018-02-15 15:00:00,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0
14,439,4159,0.0,9016.0,90,6.937674,100.420097,NaN,2900000.0,NaN,...,2018-02-22 21:00:00,58.0,21.0,20.0,18.0,39.0,1.0,0.0,1.0,1.0
15,414,13315,NaN,7306.0,73,13.741740,100.319410,NaN,1290000.0,NaN,...,2018-02-16 09:00:00,0.0,2.0,2.0,0.0,0.0,0.0,0.0,0.0,1.0
16,998,138122,1318.0,1032.0,10,13.689257,100.676444,NaN,2990000.0,NaN,...,2018-02-22 23:00:00,512.0,339.0,273.0,243.0,266.0,17.0,21.0,31.0,1.0
17,1116,11066,206.0,1046.0,10,13.833356,100.694150,NaN,999000.0,NaN,...,2018-02-16 16:00:00,1.0,2.0,2.0,1.0,0.0,0.0,0.0,0.0,1.0
18,115,2730,101.0,1102.0,11,13.597577,100.876350,NaN,4990000.0,6000000.0,...,2018-02-22 23:00:00,297.0,254.0,215.0,172.0,126.0,11.0,19.0,8.0,1.0
19,269,818,6.0,1038.0,10,13.836784,100.631662,NaN,10790000.0,15600000.0,...,2018-02-22 08:00:00,85.0,46.0,41.0,34.0,48.0,4.0,0.0,4.0,1.0
20,313,13492,NaN,1032.0,10,13.664509,100.695545,NaN,5600000.0,NaN,...,2018-02-21 15:00:00,5.0,8.0,8.0,4.0,1.0,0.0,0.0,0.0,1.0
21,929,6349,622.0,1027.0,10,13.851826,100.629660,NaN,5990000.0,NaN,...,2018-02-22 21:00:00,63.0,60.0,54.0,26.0,33.0,4.0,4.0,2.0,1.0
22,157,2730,NaN,1201.0,12,13.862688,100.481934,NaN,6800000.0,NaN,...,2018-02-15 10:00:00,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0
23,1213,10085,50.0,1202.0,12,13.828484,100.396235,NaN,4000000.0,5000000.0,...,2018-02-21 23:00:00,55.0,48.0,40.0,26.0,28.0,2.0,4.0,3.0,1.0
24,836,7959,509.0,1034.0,10,13.711092,100.635418,NaN,1790000.0,NaN,...,2018-02-22 18:00:00,127.0,131.0,104.0,76.0,53.0,8.0,12.0,5.0,1.0
25,1187,4290,0.0,1009.0,10,13.704282,100.600718,NaN,3700000.0,NaN,...,2018-02-22 23:00:00,23.0,22.0,19.0,16.0,6.0,1.0,2.0,1.0,1.0
26,1107,11126,0.0,5001.0,50,18.779156,98.999831,NaN,NaN,NaN,...,2018-02-15 09:00:00,0.0,2.0,2.0,0.0,0.0,0.0,0.0,0.0,1.0
27,1216,10085,50.0,1046.0,10,13.864645,100.713131,NaN,3990000.0,5000000.0,...,2018-02-22 17:00:00,84.0,75.0,64.0,48.0,34.0,3.0,10.0,0.0,1.0
28,1905,818,0.0,1032.0,10,13.734573,100.662302,NaN,2990000.0,NaN,...,2018-02-22 23:00:00,481.0,330.0,258.0,222.0,259.0,27.0,22.0,23.0,1.0
29,1446,8938,NaN,1032.0,10,13.715947,100.704944,NaN,5500000.0,NaN,...,2018-02-22 20:00:00,90.0,49.0,42.0,41.0,47.0,2.0,6.0,1.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5349,9304,140933,0.0,4201.0,42,17.517199,101.728775,NaN,3500000.0,6800000.0,...,2018-02-22 09:00:00,39.0,44.0,41.0,19.0,18.0,4.0,1.0,0.0,1.0
5350,9320,140940,0.0,1601.0,16,14.800047,100.724623,NaN,4250000.0,NaN,...,2018-02-22 18:00:00,40.0,63.0,54.0,27.0,14.0,1.0,6.0,1.0,1.0
5351,9321,140941,2059.0,1601.0,16,14.766924,100.685500,NaN,3400000.0,3740000.0,...,2018-02-22 19:00:00,48.0,37.0,30.0,15.0,32.0,1.0,2.0,5.0,1.0
5352,9378,8861,13.0,1201.0,12,13.843270,100.463313,NaN,8800000.0,26500000.0,...,2018-02-22 23:00:00,157.0,189.0,160.0,66.0,93.0,12.0,6.0,9.0,1.0
5353,9350,4159,138.0,4101.0,41,17.349056,102.816653,NaN,1720000.0,NaN,...,2018-02-22 18:00:00,87.0,67.0,54.0,53.0,26.0,8.0,9.0,4.0,1.0
5354,9333,138599,2070.0,1030.0,10,13.840651,100.579411,NaN,NaN,NaN,...,2018-02-22 23:00:00,1115.0,741.0,630.0,449.0,621.0,55.0,55.0,46.0,1.0
5355,9394,140956,2102.0,3001.0,30,14.994175,102.113696,36.0,1230000.0,2000000.0,...,2018-02-22 15:00:00,111.0,246.0,229.0,56.0,53.0,5.0,13.0,1.0,1.0
5356,9400,140958,2107.0,1101.0,11,13.658554,100.598410,NaN,1680000.0,NaN,...,2018-02-22 23:00:00,35.0,71.0,57.0,21.0,13.0,1.0,1.0,13.0,1.0
5357,9454,140973,2142.0,2005.0,20,13.412019,101.065562,NaN,2990000.0,4200000.0,...,2018-02-22 23:00:00,41.0,61.0,55.0,24.0,16.0,2.0,4.0,1.0,1.0
5358,9455,140974,2143.0,7707.0,77,12.463058,99.859684,NaN,990000.0,2790000.0,...,2018-02-22 21:00:00,52.0,58.0,48.0,18.0,23.0,12.0,7.0,2.0,1.0
5359,9411,140966,0.0,6501.0,65,16.881774,100.234752,NaN,2750000.0,3150000.0,...,2018-02-22 21:00:00,36.0,59.0,55.0,22.0,9.0,5.0,3.0,1.0,1.0
5360,9389,10085,42.0,1046.0,10,13.861061,100.713774,NaN,3000000.0,6000000.0,...,2018-02-22 22:00:00,268.0,208.0,184.0,129.0,133.0,14.0,9.0,7.0,1.0
5361,9407,10085,41.0,1103.0,11,13.637576,100.702201,NaN,3000000.0,NaN,...,2018-02-22 23:00:00,775.0,363.0,309.0,458.0,307.0,31.0,12.0,21.0,1.0
5362,9460,818,1395.0,1206.0,12,13.930874,100.482836,NaN,5790000.0,NaN,...,2018-02-20 22:00:00,6.0,12.0,11.0,2.0,2.0,2.0,1.0,0.0,1.0
5363,9436,7959,504.0,1103.0,11,13.633604,100.692355,NaN,1990000.0,NaN,...,2018-02-22 23:00:00,183.0,143.0,122.0,110.0,73.0,8.0,3.0,10.0,1.0
5364,9461,11066,189.0,8303.0,83,8.040729,98.327854,NaN,NaN,NaN,...,2018-02-21 15:00:00,17.0,25.0,20.0,15.0,4.0,0.0,3.0,0.0,1.0
5365,9457,10085,52.0,1302.0,13,14.055863,100.631944,NaN,1690000.0,NaN,...,2018-02-22 21:00:00,116.0,64.0,55.0,78.0,35.0,5.0,4.0,3.0,1.0
5366,9456,140975,0.0,7707.0,77,12.462095,99.874863,NaN,1390000.0,NaN,...,2018-02-22 16:00:00,52.0,103.0,85.0,33.0,26.0,3.0,5.0,3.0,1.0
5367,9418,779,1203.0,1043.0,10,13.797868,100.694892,NaN,1400000.0,NaN,...,2018-02-22 20:00:00,13.0,18.0,16.0,6.0,7.0,0.0,2.0,0.0,1.0
5368,9417,7043,2127.0,8303.0,83,7.995027,98.394358,NaN,2250000.0,NaN,...,2018-02-22 20:00:00,57.0,61.0,55.0,30.0,27.0,1.0,5.0,0.0,1.0
5369,9419,779,1203.0,1040.0,10,13.705830,100.422185,NaN,1500000.0,NaN,...,2018-02-21 17:00:00,9.0,23.0,21.0,2.0,5.0,2.0,2.0,0.0,1.0
5370,9511,11515,473.0,1201.0,12,13.868112,100.469920,35.0,1990000.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5371,9508,4159,155.0,1204.0,12,13.911385,100.429921,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5372,9402,140960,2110.0,1033.0,10,13.716913,100.576203,77.0,4100000.0,NaN,...,2018-02-22 11:00:00,36.0,40.0,34.0,13.0,17.0,6.0,1.0,5.0,1.0
5373,9416,140934,0.0,1601.0,16,14.824587,100.642536,NaN,2450000.0,NaN,...,2018-02-22 16:00:00,45.0,155.0,142.0,29.0,18.0,1.0,5.0,5.0,1.0
5374,9422,15444,0.0,1047.0,10,13.658234,100.601908,NaN,2590000.0,NaN,...,2018-02-22 22:00:00,81.0,64.0,56.0,30.0,45.0,6.0,4.0,4.0,1.0
5375,9504,140979,0.0,3415.0,34,15.096542,104.906719,NaN,1390000.0,NaN,...,2018-02-22 15:00:00,0.0,2.0,2.0,0.0,0.0,0.0,0.0,0.0,1.0
5376,9527,4861,279.0,1202.0,12,13.800476,100.468766,NaN,2890000.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5377,9506,11572,894.0,1050.0,10,13.676175,100.428029,NaN,5190000.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5378,9534,140954,2155.0,1027.0,10,13.818019,100.637893,NaN,15000000.0,30000000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [43]:
userlog[userlog['month']==2].head()

,userCode,project_id,requestedDevice,userAgent,pageReferrer,year,month,day,hour
706247,4d94b10a-b68c-c24d-bfa7-c263d03da777,8439,Mobile,Android,HomeWebsite,2018,2,1,0
706248,5d206021-be16-8ef8-0748-6333abb4bf5d,6484,Mobile,iPhone,Google,2018,2,1,0
706249,5350cb0d-d01e-7f7f-145a-cb0981862c1d,5634,Mobile,iPhone,Google,2018,2,1,0
706250,2a767f22-5bb1-f8aa-86f4-de12bd4e63d1,8864,Mobile,iPhone,Google,2018,2,1,0
706251,adf6a42c-418b-5499-7d2d-daefe91a8a93,7128,Mobile,iPad,Other_PageReferer,2018,2,1,0

In [48]:

user_projs = userlog[userlog['userCode']=="5350cb0d-d01e-7f7f-145a-cb0981862c1d"].groupby("userCode").agg({"project_id":lambda x: set(x)})
user_projs.tail(20)

                                                                             project_id
userCode
5350cb0d-d01e-7f7f-145a-cb0981862c1d  {7234, 5634, 6043, 7241, 7343, 7249, 6068, 693...

In [49]:
proj.query("project_id==[7234, 5634, 6043, 7241, 7343, 7249, 6068]")

,project_id,developer_id,brand_id,project_name_th,project_name_en,district_id,province_id,lat,lon,percent_car_parking,...,end_clicked,mobile_count,desktop_count,window_count,android_count,iPhone_count,iPad_count,other_count,macintosh_count,beenClicked
2150,5634,137782,0.0,บ้านมิรันดา สัตหีบ – แยกเจ,Miranda,2009.0,20,12.732809,100.933394,NaN,...,2018-02-22 23:00:00,1179.0,673.0,458.0,697.0,473.0,47.0,159.0,18.0,1.0
2530,6068,137690,1003.0,บ้านกลางสวน ตลาดโรงโป๊ะ,Ban Klang Suan,2004.0,20,13.020284,100.954485,NaN,...,2018-02-22 17:00:00,322.0,155.0,134.0,188.0,127.0,13.0,10.0,5.0,1.0
3033,6043,137690,1009.0,ไลฟ์ การ์เด้น โฮม ตลาดโรงโป๊ะ,Life Garden Home,2004.0,20,13.016380,100.966595,NaN,...,2018-02-22 22:00:00,574.0,270.0,164.0,293.0,271.0,15.0,100.0,1.0,1.0
3535,7241,140020,0.0,นาวีเฮ้าส์ 39,Navy House 39,2009.0,20,12.695946,100.889514,NaN,...,2018-02-22 23:00:00,352.0,157.0,134.0,209.0,141.0,18.0,7.0,0.0,1.0
3544,7249,140069,0.0,สมถวิล 2,Somthawin 2,2004.0,20,13.004542,100.979952,NaN,...,2018-02-22 13:00:00,99.0,59.0,39.0,61.0,45.0,6.0,4.0,3.0,1.0
3608,7234,140020,0.0,นาวี เฮ้าส์ 41,Navy House 41,2009.0,20,12.695842,100.889496,NaN,...,2018-02-22 23:00:00,694.0,397.0,262.0,404.0,259.0,42.0,124.0,0.0,1.0
3709,7343,140200,0.0,บ้านงามเจริญ 15 พัทยา (หนองปลาไหล),Baan Ngamcharoen 15 Pattaya (Nongplalai),2004.0,20,12.992754,100.950834,NaN,...,2018-02-22 23:00:00,586.0,440.0,362.0,387.0,199.0,24.0,54.0,0.0,1.0

## Important common feature
---

- เป็นบ้าน vs Condo
- location (lat,lon and district) !!!
- price range