In [2]:
import pandas as pd

v1 = pd.read_csv("./submission/item2vec_v1.csv")
v2 = pd.read_csv("./submission/item2vec_v2.csv")
v3 = pd.read_csv("./submission/item2vec_v3.csv")

In [9]:
v = v1.merge(v2,on='userCode').merge(v3,on='userCode')
v.head()

,userCode,project_id_x,project_id_y,project_id
0,003366c6-0cd9-48e7-d134-2051d7360c2d,6734 6702 6714 6802 6587 8853 6666,6734 6702 6714 8853 6587 6666 5979,6734 6702 6714 5979 8853 6666 6387
1,003b2f18-60b4-37be-c63d-0caead1afa97,8089 6181 7825 4617 4615 7809 6499,6411 6181 7825 7809 5509 4617 3425,6411 3425 5509 6337 7809 4374 9036
2,003d571e-9de7-6de3-2cb6-2ae190cc7beb,8382 6725 6780 8882 6663 6646 6670,6780 8382 8820 6253 6729 6663 6691,6780 6691 6663 6253 8882 8382 6729
3,00426ede-6813-949b-de2e-6d8b228dff1d,8422 5483 4181 6278 3239 8384 2904,6278 8384 8422 5483 8374 8944 2904,8384 5483 8944 5281 8422 6278 8842
4,0043a9c7-cace-1aa1-3188-4b173bf28991,5466 6352 4800 998 8068 5668 4286,5466 6352 4800 8068 998 5668 4286,5466 6352 4800 8068 5668 998 4286

In [12]:
v = v1['project_id']+" "+v2['project_id']+" "+v3['project_id']

In [19]:
from collections import Counter
v1['project_id'] = v.apply(lambda x: " ".join([str(proj) for proj,count in Counter(x.split(" ")).most_common(7)]))

In [21]:
v1.to_csv("./submission/item2vec_ensembled.csv",index=False)

In [22]:
v1.head()

                               userCode                          project_id
0  003366c6-0cd9-48e7-d134-2051d7360c2d  6734 6702 6714 8853 6666 6587 5979
1  003b2f18-60b4-37be-c63d-0caead1afa97  7809 6181 7825 4617 6411 5509 3425
2  003d571e-9de7-6de3-2cb6-2ae190cc7beb  8382 6780 6663 8882 6253 6729 6691
3  00426ede-6813-949b-de2e-6d8b228dff1d  8422 5483 6278 8384 2904 8944 4181
4  0043a9c7-cace-1aa1-3188-4b173bf28991   5466 6352 4800 998 8068 5668 4286