In [1]:
import pandas as pd

In [2]:
userLog_df = pd.read_csv("./data/userLog_201801_201802_for_participants.csv",delimiter=";")
userLog_df.head()

,userCode,project_id,requestedDevice,userAgent,pageReferrer,year,month,day,hour
0,7717bdc2-ea3e-e8ad-5d6b-178bd71c38b2,7956,Mobile,Android,HomeWebsite,2018,1,1,0
1,7717bdc2-ea3e-e8ad-5d6b-178bd71c38b2,7956,Mobile,Android,HomeWebsite,2018,1,1,0
2,cb5b4b68-cc01-6db6-f54b-4a0f881301c5,5067,Mobile,iPhone,HomeWebsite,2018,1,1,0
3,5f74cef2-0d1e-b619-3564-0955a14e0985,6654,Mobile,iPhone,Google,2018,1,1,0
4,dba8f279-844e-eef6-73ac-22bd7d1353cc,6474,Mobile,iPad,Google,2018,1,1,0

### Split into train and test set

In [26]:
def create_date_time(row):
    return "%d-%d-%d %d:00:00"%(row["year"],row["month"],row["day"],row["hour"])

userLog_df["datetime"] = userLog_df.apply(create_date_time,axis=1)
userLog_df["datetime"] = pd.to_datetime(userLog_df["datetime"], format="%Y-%m-%d %H:%M:%S")

In [32]:
from datetime import datetime
cutoffDate = datetime(2018, 2, 20, 0, 0)
beforeCutoff = userLog_df["datetime"]<cutoffDate

train = userLog_df[beforeCutoff]
test = userLog_df[~beforeCutoff]
assert(train.shape[0]+test.shape[0]==userLog_df.shape[0])
print("Train has %d rows"%train.shape[0])
print("Test has %d rows"%test.shape[0])

Train has 1155081 rows
Test has 79498 rows

In [36]:
train.to_csv("./clean_data/train.csv",index=False)
test.to_csv("./clean_data/test.csv",index=False)

In [37]:
valid = pd.read_csv("./data/testing_users.csv")
trainCodes = set(train["userCode"].unique())
valid["inTrain"] = valid["userCode"].apply(lambda x: x in trainCodes)
print("Number of user row: %d"%valid.shape[0])
valid["inTrain"].sum()

Number of user row: 7408

5830

In [38]:
testCodes = set(test["userCode"].unique())
valid["inTest"] = valid["userCode"].apply(lambda x: x in testCodes)
valid["inTest"].sum()

2681

In [39]:
print(test['userCode'].shape[0])
test["userCode"].apply(lambda x: x in trainCodes).sum()

79498

25456