In [1]:
import pandas as pd

In [2]:
user = pd.read_csv("./data/userLog_201801_201802_for_participants.csv",sep=';')

In [3]:
user.head()

,userCode,project_id,requestedDevice,userAgent,pageReferrer,year,month,day,hour
0,7717bdc2-ea3e-e8ad-5d6b-178bd71c38b2,7956,Mobile,Android,HomeWebsite,2018,1,1,0
1,7717bdc2-ea3e-e8ad-5d6b-178bd71c38b2,7956,Mobile,Android,HomeWebsite,2018,1,1,0
2,cb5b4b68-cc01-6db6-f54b-4a0f881301c5,5067,Mobile,iPhone,HomeWebsite,2018,1,1,0
3,5f74cef2-0d1e-b619-3564-0955a14e0985,6654,Mobile,iPhone,Google,2018,1,1,0
4,dba8f279-844e-eef6-73ac-22bd7d1353cc,6474,Mobile,iPad,Google,2018,1,1,0

## Count of properties

In [4]:
user['datetime'] = user['year'].astype(str)+"-" + user['month'].astype(str) +"-" +user['day'].astype(str)+" "+user['hour'].astype(str)+":00:00"
user['datetime'] = pd.to_datetime(user['datetime'])

In [6]:
user2 = user.groupby("userCode").agg({"project_id":['count',lambda x: list(x)],"pageReferrer":lambda x: list(x),"userAgent":lambda x: list(x),"requestedDevice":lambda x: list(x),"datetime":['first','last']})
user2.columns = ['viewed_project','projects',"pageReferrer",'userAgent','requestedDevice','begin_clicked','end_clicked']

In [7]:
def countOccur(l, target, ratio=False):
    if not ratio: return len([i for i in l if i==target])
    else: return len([i for i in l if i==target])/len(l)

In [8]:
# Used requested Device ,user Agent, and pageReferrer
# User Requested device

asRatio = True
user2['mobile_count'] = user2['requestedDevice'].apply(lambda x:countOccur(x,'Mobile',asRatio))
user2['desktop_count'] = user2['requestedDevice'].apply(lambda x:countOccur(x,'Desktop',asRatio))


asRatio = True
user2['window_count'] = user2['userAgent'].apply(lambda x:countOccur(x,'Windows',asRatio))
user2['android_count'] = user2['userAgent'].apply(lambda x:countOccur(x,'Android',asRatio))
user2['iPhone_count'] = user2['userAgent'].apply(lambda x:countOccur(x,'iPhone',asRatio))
user2['iPad_count'] = user2['userAgent'].apply(lambda x:countOccur(x,'iPad',asRatio))
user2['other_os_count'] = user2['userAgent'].apply(lambda x:countOccur(x,'Other_OS',asRatio))
user2['macintosh_count'] = user2['userAgent'].apply(lambda x:countOccur(x,'Macintosh',asRatio))

asRatio = True
user2['google_count'] = user2['pageReferrer'].apply(lambda x:countOccur(x,'Google',asRatio))
user2['homewebsite_count'] = user2['pageReferrer'].apply(lambda x:countOccur(x,'HomeWebsite',asRatio))
user2['other_website_count'] = user2['pageReferrer'].apply(lambda x:countOccur(x,'Other_PageReferer',asRatio))
user2['facebook_count'] = user2['pageReferrer'].apply(lambda x:countOccur(x,'Facebook',asRatio))


user2.head()

,viewed_project,projects,pageReferrer,userAgent,requestedDevice,begin_clicked,end_clicked,mobile_count,desktop_count,window_count,android_count,iPhone_count,iPad_count,other_os_count,macintosh_count,google_count,homewebsite_count,other_website_count,facebook_count
userCode,,,,,,,,,,,,,,,,,,,
00005aba-5ebc-0821-f5a9-bacca40be125,1,[5342],[HomeWebsite],[Android],[Mobile],2018-02-07 08:00:00,2018-02-07 08:00:00,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
0000bae7-6233-d7cc-2a6d-48aa70fe8ad4,1,[5678],[HomeWebsite],[iPhone],[Mobile],2018-01-04 21:00:00,2018-01-04 21:00:00,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
0000c576-e929-19eb-615a-349ec3b4709b,1,[6461],[Google],[Android],[Mobile],2018-01-16 11:00:00,2018-01-16 11:00:00,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
0000d196-6385-80b8-661d-b7427042daa3,1,[9040],[Other_PageReferer],[iPhone],[Mobile],2018-01-24 10:00:00,2018-01-24 10:00:00,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
0000e1e2-f595-0ae7-860f-fcc07dcb116e,2,"[6709, 6712]","[Google, Google]","[iPhone, iPhone]","[Mobile, Mobile]",2018-01-04 14:00:00,2018-01-04 14:00:00,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0

In [9]:
del user2['userAgent']
del user2['requestedDevice']
del user2['pageReferrer']

In [10]:
user2.head()

,viewed_project,projects,begin_clicked,end_clicked,mobile_count,desktop_count,window_count,android_count,iPhone_count,iPad_count,other_os_count,macintosh_count,google_count,homewebsite_count,other_website_count,facebook_count
userCode,,,,,,,,,,,,,,,,
00005aba-5ebc-0821-f5a9-bacca40be125,1,[5342],2018-02-07 08:00:00,2018-02-07 08:00:00,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
0000bae7-6233-d7cc-2a6d-48aa70fe8ad4,1,[5678],2018-01-04 21:00:00,2018-01-04 21:00:00,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
0000c576-e929-19eb-615a-349ec3b4709b,1,[6461],2018-01-16 11:00:00,2018-01-16 11:00:00,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
0000d196-6385-80b8-661d-b7427042daa3,1,[9040],2018-01-24 10:00:00,2018-01-24 10:00:00,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
0000e1e2-f595-0ae7-860f-fcc07dcb116e,2,"[6709, 6712]",2018-01-04 14:00:00,2018-01-04 14:00:00,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0

## Projects

In [11]:
proj = pd.read_csv("./clean_data/proj.csv")
#proj.dropna(columns=['project_name_th','project_name_en'])
proj.head()

,project_id,developer_id,brand_id,district_id,province_id,lat,lon,percent_car_parking,starting_price,highest_price,...,mobile_count,desktop_count,window_count,android_count,iPhone_count,iPad_count,other_count,macintosh_count,beenClicked,projIdx
0,44,140786,0.0,1046.0,10,13.891719,100.722099,NaN,3500000.0,3862000.0,...,251.0,181.0,139.0,151.0,103.0,7.0,19.0,13.0,1.0,0
1,24,1032,0.0,1046.0,10,13.876590,100.731927,NaN,4590000.0,7344000.0,...,22.0,15.0,14.0,12.0,10.0,1.0,0.0,0.0,1.0,1
2,161,11066,0.0,1101.0,11,13.543841,100.656302,NaN,912400.0,1300480.0,...,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,2
3,73,779,0.0,1301.0,13,13.975707,100.580670,NaN,3800000.0,6080000.0,...,124.0,99.0,91.0,63.0,55.0,7.0,6.0,1.0,1.0,3
4,219,818,5.0,1103.0,11,13.716203,100.725815,NaN,5000000.0,8000000.0,...,162.0,128.0,99.0,73.0,86.0,6.0,7.0,19.0,1.0,4

In [12]:
proj.columns

Index(['project_id', 'developer_id', 'brand_id', 'district_id', 'province_id',
       'lat', 'lon', 'percent_car_parking', 'starting_price', 'highest_price',
       'project_status', 'created_at', 'project_land_size_m',
       'Log_starting_price', 'starting_price_range', 'pool', 'clubhouse',
       'park', 'fitness', 'security', 'playground', 'unit_type_id',
       'amount_bedroom', 'amount_bathroom', 'amount_car_parking',
       'unit_functional_space_starting_size', 'hasUnit', 'clickedCount',
       'clicked_user', 'begin_clicked', 'end_clicked', 'clickedUser',
       'mobile_count', 'desktop_count', 'window_count', 'android_count',
       'iPhone_count', 'iPad_count', 'other_count', 'macintosh_count',
       'beenClicked', 'projIdx'],
      dtype='object')

In [13]:
user_projects = user[['userCode','project_id']].merge(proj,on='project_id')

In [14]:
# Averaging columns
avg_cols = ['lat', 'lon',
       'percent_car_parking','amount_bedroom', 'amount_bathroom', 'amount_car_parking',
       'unit_functional_space_starting_size','clickedCount','starting_price_range',  'pool', 'clubhouse', 'park', 'fitness', 'security', 'playground']

proj_extracted = user_projects.groupby("userCode")[avg_cols].mean()
#proj_extracted['percent_car_parking'] = proj_extracted['percent_car_parking'].fillna(0)
proj_extracted.fillna(0,inplace=True)

In [15]:
from scipy.stats import mode

In [16]:
user_projects.head()[['district_id','province_id']]

   district_id  province_id
0       1201.0           12
1       1201.0           12
2       1201.0           12
3       1201.0           12
4       1201.0           12

In [18]:
#mode_df = user_projects.groupby("userCode").agg({"district_id":lambda x: list(x),"province_id":lambda x: list(x),"project_id":lambda x:list(x)})
#mode_df = mode_df.rename({"project_id":"project_list"})

In [26]:
mode_df.columns = ['district_id', 'province_id', 'project_list', 'most_district_id',
       'most_province_id']
mode_df.head()

,district_id,province_id,project_list,most_district_id,most_province_id
userCode,,,,,
00005aba-5ebc-0821-f5a9-bacca40be125,[1030.0],[10],[5342],1030.0,10
0000bae7-6233-d7cc-2a6d-48aa70fe8ad4,[1204.0],[12],[5678],1204.0,12
0000c576-e929-19eb-615a-349ec3b4709b,[1022.0],[10],[6461],1022.0,10
0000d196-6385-80b8-661d-b7427042daa3,[2001.0],[20],[9040],2001.0,20
0000e1e2-f595-0ae7-860f-fcc07dcb116e,"[4001.0, 4001.0]","[40, 40]","[6709, 6712]",4001.0,40

In [27]:
#mode_df['most_district_id'] = mode_df['district_id'].apply(lambda x: mode(x).mode[0])
#mode_df['most_province_id'] = mode_df['province_id'].apply(lambda x: mode(x).mode[0])
mode_df['top_project'] = mode_df['project_list'].apply(lambda x: mode(x).mode[0])

In [28]:
mode_df.head()

,district_id,province_id,project_list,most_district_id,most_province_id,top_project
userCode,,,,,,
00005aba-5ebc-0821-f5a9-bacca40be125,[1030.0],[10],[5342],1030.0,10,5342
0000bae7-6233-d7cc-2a6d-48aa70fe8ad4,[1204.0],[12],[5678],1204.0,12,5678
0000c576-e929-19eb-615a-349ec3b4709b,[1022.0],[10],[6461],1022.0,10,6461
0000d196-6385-80b8-661d-b7427042daa3,[2001.0],[20],[9040],2001.0,20,9040
0000e1e2-f595-0ae7-860f-fcc07dcb116e,"[4001.0, 4001.0]","[40, 40]","[6709, 6712]",4001.0,40,6709

In [29]:
#proj_extracted['percent_car_parking'] = proj_extracted['percent_car_parking'].fillna(0)
proj_extracted.fillna(0,inplace=True)

In [30]:
user3 = user2.merge(proj_extracted,on='userCode')
user3 = user3.merge(mode_df, on='userCode')
del user3['projects']

In [31]:
# Begin clicked

def extracted_date_feature(df, col_name,prefix):
    
    newDf = pd.DataFrame({})
    newDf[prefix+'dow'] = df[col_name].apply(lambda x: x.weekday())
    newDf[prefix+'mon'] = df[col_name].apply(lambda x: x.month)
    newDf[prefix+'day'] = df[col_name].apply(lambda x: x.day)
    newDf[prefix+'hour'] = df[col_name].apply(lambda x: x.hour)
    times_of_day = [0, 0, 0, 0, 0, 1, 1, 1, 1, 2, 2, 2, 2, 3, 3, 3, 4, 4, 4, 4, 5, 5, 5, 5 ]    
    newDf[prefix+'time_of_day'] = df[col_name].apply(lambda x: times_of_day[x.hour])
    return newDf


user4 = user3.merge(extracted_date_feature(user3, "begin_clicked","b_"), on='userCode')
user4 = user4.merge(extracted_date_feature(user3, "end_clicked","e_"), on='userCode')

del user4['begin_clicked']
del user4['end_clicked']

In [32]:
user4.head()

,viewed_project,mobile_count,desktop_count,window_count,android_count,iPhone_count,iPad_count,other_os_count,macintosh_count,google_count,...,b_dow,b_mon,b_day,b_hour,b_time_of_day,e_dow,e_mon,e_day,e_hour,e_time_of_day
userCode,,,,,,,,,,,,,,,,,,,,,
00005aba-5ebc-0821-f5a9-bacca40be125,1,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,2,2,7,8,1,2,2,7,8,1
0000bae7-6233-d7cc-2a6d-48aa70fe8ad4,1,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,3,1,4,21,5,3,1,4,21,5
0000c576-e929-19eb-615a-349ec3b4709b,1,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,...,1,1,16,11,2,1,1,16,11,2
0000d196-6385-80b8-661d-b7427042daa3,1,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,2,1,24,10,2,2,1,24,10,2
0000e1e2-f595-0ae7-860f-fcc07dcb116e,2,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,...,3,1,4,14,3,3,1,4,14,3

In [33]:
userLog = pd.read_csv('./data/userLog_201801_201802_for_participants.csv', delimiter = ';')

In [34]:
user2IdxMapping = userLog.groupby("userCode").agg('count')['hour'].reset_index().reset_index().drop(columns=['hour'])
user2IdxMapping.columns = ["userIdx","userCode"]
user2IdxMapping.head()

   userIdx                              userCode
0        0  00005aba-5ebc-0821-f5a9-bacca40be125
1        1  0000bae7-6233-d7cc-2a6d-48aa70fe8ad4
2        2  0000c576-e929-19eb-615a-349ec3b4709b
3        3  0000d196-6385-80b8-661d-b7427042daa3
4        4  0000e1e2-f595-0ae7-860f-fcc07dcb116e

In [35]:
user2IdxMapping['userIdx'].max()

482750

In [36]:
user5 = user4.merge(user2IdxMapping, on='userCode')
user5.shape

(481116, 46)

In [37]:
user5.head()

,userCode,viewed_project,mobile_count,desktop_count,window_count,android_count,iPhone_count,iPad_count,other_os_count,macintosh_count,...,b_mon,b_day,b_hour,b_time_of_day,e_dow,e_mon,e_day,e_hour,e_time_of_day,userIdx
0,00005aba-5ebc-0821-f5a9-bacca40be125,1,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,2,7,8,1,2,2,7,8,1,0
1,0000bae7-6233-d7cc-2a6d-48aa70fe8ad4,1,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,1,4,21,5,3,1,4,21,5,1
2,0000c576-e929-19eb-615a-349ec3b4709b,1,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,1,16,11,2,1,1,16,11,2,2
3,0000d196-6385-80b8-661d-b7427042daa3,1,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,1,24,10,2,2,1,24,10,2,3
4,0000e1e2-f595-0ae7-860f-fcc07dcb116e,2,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,1,4,14,3,3,1,4,14,3,4

In [38]:
user5.to_csv("./clean_data/user_v2.csv",index=False)

In [ ]:
#user2IdxMapping.to_csv("./clean_data/userIdxMapper.csv",index=False)