In [1]:
import pandas as pd

In [39]:
df = pd.read_csv("./clean_data/proj.csv")

In [40]:
# 
removing_cols = ["percent_car_parking","created_at",]

In [41]:
df.drop(columns=removing_cols,inplace = True)

In [42]:
df.columns

Index(['project_id', 'developer_id', 'brand_id', 'district_id', 'province_id',
       'lat', 'lon', 'starting_price', 'highest_price', 'project_status',
       'project_land_size_m', 'Log_starting_price', 'starting_price_range',
       'pool', 'clubhouse', 'park', 'fitness', 'security', 'playground',
       'unit_type_id', 'amount_bedroom', 'amount_bathroom',
       'amount_car_parking', 'unit_functional_space_starting_size', 'hasUnit',
       'clickedCount', 'clicked_user', 'begin_clicked', 'end_clicked',
       'clickedUser', 'mobile_count', 'desktop_count', 'window_count',
       'android_count', 'iPhone_count', 'iPad_count', 'other_count',
       'macintosh_count', 'beenClicked'],
      dtype='object')

In [55]:
selecting_features = ['lat','lon','starting_price','highest_price','province_id','district_id','amount_bedroom', 'amount_bathroom','project_land_size_m','clickedCount','clickedUser']

In [53]:
df = df[selecting_features]

In [46]:
df['amount_bathroom'].fillna(method='ffill', inplace=True)
df['amount_bedroom'].fillna(method='ffill', inplace=True)
df['project_land_size_m'].fillna(method='ffill', inplace=True)

In [54]:
df.head()

,lat,lon,Log_starting_price,province_id,district_id,amount_bedroom,amount_bathroom,project_land_size_m,clickedCount,clickedUser
0,13.891719,100.722099,15.068274,10,1046.0,3.000000,2.25,43200,432.0,297.0
1,13.876590,100.731927,15.339391,10,1046.0,3.000000,2.25,123978,37.0,27.0
2,13.543841,100.656302,13.723834,11,1101.0,3.000000,2.25,0,1.0,1.0
3,13.975707,100.580670,15.150512,13,1301.0,3.000000,2.75,89634,223.0,154.0
4,13.716203,100.725815,15.424948,11,1103.0,3.285714,3.00,41258,290.0,190.0